<div class ="osusume">
    <div class ="osusumetitle">
        <h2>おすすめの場所</h2>
    </div>

    <div class ="contents">
        <% @taiken.each do |t| %>
            <div class="heart">
            <span class="dli-user-circle-fill"><span></span></span>
                <br><br><%= t.user.email %></br></br>
                <div class ="text">
                        <%= simple_format(t.body) %>
                        <%= link_to "詳細へ", heart_path(t.id, source: 'taiken') %>
                    <% if user_signed_in? %>
                        <% if current_user.already_liked?(t) %>
                        <%= link_to heart_like_path(id: t.id, heart_id: t.id), method: :delete do %>
                            <p>♥</p><%= t.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to heart_likes_path(id: t.id, heart_id: t.id), method: :post do %>
                            <p>♡</p><%= t.likes.count %>
                        <% end %>
                    <% end %>
                    <% else %>
                        <p>いいねの数 = </p><%= t.likes.count %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>